*{
    margin: 0;
    padding: 0;

}
body{
}
#navbar{
    width: 100%;
    height: 2rem;
    background-color: #4895ef;
}
#divform{
    display: flex;
    align-items: center;
    align-content: center;
}
/* #4895ef */